@import "variables";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    width: 1440px;
    min-height: 900px;
    display: flex; 
    align-items: center;
    flex-direction: column;
    background: url(/images/pattern-background-desktop.svg) no-repeat center top;
    background-color: $paleblue;
 margin:102px 450px;
    p{
        font-weight: 500;
        color: $desaturatedblue;
    }
}

#main{
    width: 450px;
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background-color: white;
}

.first_section{
    margin:54px 80px 25px 80px;
    text-align: center;
    

    h1{
        font-weight: 900;
        color: $darkblue;
    }
    
    p{
        margin-top: 25px;
    }
}

.second_section{
    width: 354px;
    height: 100px;
    background-color: $verypaleblue;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 48px;
    margin-left: 48px;
    border-radius: 15px;
    
    img{
        margin:24px;
    }

    h2,p,a{
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
    }

    span{
        color:$darkblue;
        font-weight: 900;
    }

   
}

.plan{
    width:95px;
    
}

.change{
    width: 55px;
    margin-left: 80px;
    margin-right: 24px;
}

.payment_box{
    box-shadow: 0px 63px 49px -41px rgba(230, 155, 16, 0.151);
}


.payment{
    
    width: 354px;
    height: 50px;
    margin-top: 30px;
    background-color: $brightblue;
    color: white;
    font-weight: 900;
    border-radius: 15px;
    cursor: pointer;
    
}


.cancel
{
    margin: 35px 0 55px 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }